Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/'
FormatStyle: file

CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
